<!DOCTYPE html>
<html lang="en" ng-app="conversion">
<head>
    <title>Conversions</title>
    <link rel="stylesheet" href="/scripts/css/bootstrap.min.css" />
    <link rel="stylesheet" href="main.css" />
    <script src="/scripts/angular.min.js"></script>
    <script src="index.js"></script>
    <script src="controller/conversionCtrl.js"></script>
</head>
<body>
    <div class="container main_container" ng-controller="mainController" ng-init="find()">
      <div class="row title_row">
        <div class="col-xs-3">
          <h2>Conversions</h2>
        </div>
        <div class="col-xs-3">
        </div>
        <div class="col-xs-3">
          <a class="btn btn-default" ng-click="createConversion('pdf')">New PDF Conversion</a>
        </div>
        <div class="col-xs-3">
          <a class="btn btn-default" ng-click="createConversion('html')">New HTML Conversion</a>
        </div>
      </div>
      <br /> <br />

      <div class="row history_row">
        <div class="col-xs-2">Name</div>
        <div class="col-xs-3 col-xs-offset-4">Created At</div>
        <div class="col-xs-1 col-xs-offset-less">Type</div>
        <div class="col-xs-2">Status</div>
      </div>
      <br />
      <div class="conversions" ng-repeat="conversion in conversions">
        <div class="row conversions_list_row">
          <div class="col-xs-2">{{conversion.name}} #{{$index + 1}} </div>
          <div class="col-xs-3 col-xs-offset-4">{{conversion.created | date:'EEE, MMM d, h:mma'}}</div>
          <div class="col-xs-1 col-xs-offset-less"><span class="type_info">{{conversion.type}}</span></div>
          <div class="col-xs-2"><span class="glyphicon" ng-class="getStateIcon(conversion)" aria-hidden="true"></span> {{conversion.state}}</div>
        </div>
        <br />
      </div>

    </div>

    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</body>
</html>
